html,
input {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 100%;
  max-width: 600px;
  margin: 0px auto;
  padding: 2em;
}

.head {
  display: flex;
  flex-direction: column;
  background: red;
  text-align: center;
  text-transform: uppercase;
  padding: 2em;
  margin-bottom: 20px;
  font-weight: bold;
}
form {
  margin-top: 50px;
}

div {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
  align-content: center;
}

label,
input {
  font-size: 16px;
  line-height: 1.5;
}

label {
  text-align: right;
  width: 30%;
  margin-right: 2em;
}

input {
  flex: auto;
}

.button {
  width: 70%;
  margin: 0 auto;
}

error-output {
  margin-left: 10px;
  font-size: 12px;
  font-style: italic;
  color: red;
}

@media only screen and (max-width: 360px) {
  h1 {
    font-size: 40px;
    text-align: center;
  }
  label {
    width: 55%;
    font-size: 12px;
  }
}
/* @media only screen and (min-width: 280px) {
  label {
    width: 55%;
    font-size: 12px;
  }
} */
